{:paths ["src" "notebooks"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.2"}
         org.clojure/core.async {:mvn/version "1.9.808-alpha1"}
         io.github.clojure/core.async.flow-monitor {:git/tag "v0.1.1" :git/sha "61e8d31"}
         io.github.nextjournal/clerk {:mvn/version "0.18.1150"}}
 :aliases
 {:notebook {:main-opts ["-m" "nextjournal.clerk.main" "watch" "notebooks"]}}}
